
/* To center align the content within the card */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive adjustments */
@media only screen and (max-width: 500px){

    /* Styles for screens with a maximum width of 600px */
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row .col.s4 {
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}
